<div class="row">
    <div class="col-3 mt-3">
        <div class="card" style="width: 18rem; min-height: 200px;">
            <div class="card-body">
                <h5 class="card-title">Jobs Assignment</h5>
                <p class="card-text">Manually assign jobs to employees using CSV file upload.</p>
                <a href="/jobs/assign-jobs-manually" class="card-link">Open Jobs Assignment Page</a>
            </div>
        </div>
    </div>
    <div class="col-3 mt-3">
        <div class="card" style="width: 18rem; min-height: 200px;">
            <div class="card-body">
                <h5 class="card-title">Attendance Correction</h5>
                <p class="card-text">Make attendance correction using CSV file upload.</p>
                <a href="/jobs/attendance-correction" class="card-link">Open Attendance Page</a>
            </div>
        </div>
    </div>
    <div class="col-3 mt-3">
        <div class="card" style="width: 18rem; min-height: 200px;">
            <div class="card-body">
                <h5 class="card-title">Attendance Correction History</h5>
                <p class="card-text">View attendance correction History</p>
                <a href="/jobs/attendance-correction-history" class="card-link">Open Attendance Correction History Page</a>
            </div>
        </div>
    </div>
    <div class="col-3 mt-3">
        <div class="card" style="width: 18rem; min-height: 200px;">
            <div class="card-body">
                <h5 class="card-title">Timesheet Correction</h5>
                <p class="card-text">Approve Timesheet corrections</p>
                <a href="/jobs/timesheet-correction" class="card-link">Open Timesheet Correction Page</a>
            </div>
        </div>
    </div>
    <div class="col-3 mt-3">
        <div class="card" style="width: 18rem; min-height: 200px;">
            <div class="card-body">
                <h5 class="card-title">Maximum Allowed Job Hours Per Day </h5>
                <p class="card-text">Make changes to maximum allowed job hours per day.</p>
                <a href="/jobs/jobslist" class="card-link">Open Allowed Job Hours Per Day</a>
            </div>
        </div>
    </div>
    <div class="col-3 mt-3">
        <div class="card" style="width: 18rem; min-height: 200px;">
            <div class="card-body">
                <h5 class="card-title">Search Jobs</h5>
                <p class="card-text">Search all users assigned with a given job number.</p>
                <a href="/jobs/search-jobs" class="card-link">Open Search Jobs Page</a>
            </div>
        </div>
    </div>
    <div class="col-3 mt-3">
        <div class="card" style="width: 18rem; min-height: 200px;">
            <div class="card-body">
                <h5 class="card-title">Add New Jobs </h5>
                <p class="card-text">Upload new job(s) using CSV file</p>
                <a href="/jobs/upload-jobs" class="card-link">Open Search Jobs Page</a>
            </div>
        </div>
    </div>
</div>



