<section class="vh-100 gradient-custom">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-3">
              <h2 class="fw-bold mb-2 text-uppercase">Password Reset</h2>
              <div class="form-outline form-white mb-4">
                <input type="text" id="empId" class="form-control form-control-lg" value="{{session.user.EmployeeId}}" disabled />
              </div>
              <div class="form-outline form-white mb-4">
                <input type="password" id="pass" class="form-control form-control-lg" placeholder="Password"  />
              </div>
              <div class="form-outline form-white mb-4">
                <input type="password" id="confPass" class="form-control form-control-lg" placeholder="Repeat Password"  />
              </div>
              <button class="btn btn-outline-light btn-lg px-5" type="submit" id="signupButton">Submit Password</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $(document).ready(function () {
      $("#signupButton").click(function () {
          let employeeID = $("#empId").val();
          let password = $("#pass").val();
          let confPassword = $("#confPass").val();
          if(!employeeID || !password){
              return alert("Please enter password")
          }
          if(password != confPassword ){
            return alert("Password and Repeat password do not match")
          }
          const userdata = {
              employeeID,
              password
          };

          resetPassword(userdata)
      });
  });

  async function resetPassword(userdata){
      try{
          const response = await fetch('/api/users/resetpassword', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify(userdata) // Convert the data to JSON format
          });
          if (!response.status == "ok") {
              return alert('Network response was not ok');
          }
          const responseData = await response.json();
          console.log('Success:', responseData);
          if(responseData.status == "ok"){
            window.location.href = "/users/login";
          }else{
            alert(responseData.error);
          }

      }catch (error) {
          console.error('Error:', error);
      }
  }
</script>